<div class="column column2" id="row1">

<div class="tile panel panel-default">
  <div class="tile__title panel-heading">
    <h3 class="panel-title pull-left">Control</h3>
    <button class="btn btn-default pull-right" ng-click="fhide(0)">{{htext[0]}}</button>
    <div class="clearfix"></div>
  </div>
  <div class="tile__body panel-body" style="text-align:center;" ng-hide="hide[0]">
    <button type="button" class="btn btn-success" onclick="enable();">Enable</button>
    <button type="button" class="btn btn-danger" onclick="disable();">Disable</button>
  </div>
</div>

<div class="tile panel panel-default">

  <div class="tile__title panel-heading">
    <h3 class="panel-title pull-left">Stats</h3>
    <button class="btn btn-default pull-right" ng-click="fhide(1)">{{htext[1]}}</button>
    <div class="clearfix"></div>
  </div>

  <div class="tile__body panel-body" ng-hide="hide[1]">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
</div>

</div>

<div class="column column1" id="row2">

<div class="tile panel panel-default">

  <div class="tile__title panel-heading">
    <h3 class="panel-title pull-left">Camera</h3>
    <button class="btn btn-default pull-right" ng-click="fhide(2)">{{htext[2]}}</button>
    <div class="clearfix"></div>
  </div>

  <div class="tile__body panel-body" ng-hide="hide[2]">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
</div>

<div class="tile panel panel-default">

  <div class="tile__title panel-heading">
    <h3 class="panel-title pull-left">Users</h3>
    <button class="btn btn-default pull-right" ng-click="fhide(3)">{{htext[3]}}</button>
    <div class="clearfix"></div>
  </div>

  <div class="tile__body panel-body" ng-hide="hide[3]">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
</div>

</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="js/bootstrap.min.js"></script>
<script src="js/Sortable.js"></script>
<script>

var container = document.getElementById("row1");
var sort = Sortable.create(container, {
  group: "page",
  animation: 150, // ms, animation speed moving items when sorting, `0` — without animation
  handle: ".tile__title", // Restricts sort start click/touch to the specified element
  draggable: ".tile", // Specifies which items inside the element should be sortable
  onUpdate: function (evt/**Event*/){
     var item = evt.item; // the current dragged HTMLElement
  }
});

var container = document.getElementById("row2");
var sort = Sortable.create(container, {
  group: "page",
  animation: 150, // ms, animation speed moving items when sorting, `0` — without animation
  handle: ".tile__title", // Restricts sort start click/touch to the specified element
  draggable: ".tile", // Specifies which items inside the element should be sortable
  onUpdate: function (evt/**Event*/){
     var item = evt.item; // the current dragged HTMLElement
  }
});

</script>
